body {
    background-color: #0a141e;
    font-family: 'Source Code Pro', monospace;
    color: #b1f2f7;
    margin: 0;
  }
  .product-name-category{
    color: #b1f2f7;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  * {
    box-sizing: border-box;
  }
  